.white-nav-bar,.white-nav-bar li,.white-nav-bar ui{
    background-color: white;
    display:flex;
    align-items:center;
}
.white-nav-bar ul{
    display:flex;
    list-style-type: none;
    align-items:center;
    padding-top: 1.01rem;
    transform: skewX(25deg);
}
.white-nav-bar li a{
    padding:.3rem;
    color:red !important;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
}
.slan-comp-cont{
    background-color: white;
}
.slan-comp{
    width: 64px;
    background-color: #295ac9;
    transform: skew(-25deg);
    margin-left: -16px;
}

.header__secondary {
    height: 96px;
}
.post__content.mt-2{
    font-size: 17px;
}
.header__secondary{
    height:auto !important;
    display:block !important;
}

@media screen and (max-width: 991px) {
    .slan-comp,.white-nav-bar {
        display: none;
    }
}
