.story-result .card{
    height: 57px;
    border-radius: 0px;
    /*background-color: #1e2024;*/
    /*border-color: #292c31;*/
}
.result-card{
    /* box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%); */
    box-shadow:none!important;
}
.story-result .result{
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 1px;
    padding-right: 5px;
    padding-left: 5px;
}
.team1{
    font-size: 12px;
    margin-bottom: 1px;
    padding-right: 5px;
    padding-left: 5px;
}
.team2{
    font-size: 12px;
    margin-bottom: 1px;
    padding-right: 5px;
    padding-left: 5px;
}
.story-result .card-body{
    padding-top:1px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 0px;
}
/* .story-tournament{
    padding: 10px;
} */
.story-tournament select{
    border:none;
    border-bottom: 1px solid #1892ed;
}
.story-result .row {
    margin-bottom: 0px !important;
}
/* Score Board */
.scoreBoard{
    padding:.5rem;
    /* box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px; */
}
.scoreBoard th{
    color:black;
    font-size: 12px;
}
.scoreBoard td{
    color:rgb(43, 42, 42);
    font-size: 12px;
}