.story-result .card{
    height: 80px;
    border-radius: 0px;
    /*background-color: #1e2024;*/
    /*border-color: #292c31;*/
}
.story-result .result{
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 1px;
    padding-right: 5px;
    padding-left: 5px;
}
.team1{
    font-size: 12px;
    margin-bottom: 1px;
    padding-right: 5px;
    padding-left: 5px;
}
.team2{
    font-size: 12px;
    margin-bottom: 1px;
    padding-right: 5px;
    padding-left: 5px;
}
.story-result .card-body{
    padding-top:1px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 0px;
}
.story-tournament{
    padding: 10px;
}
/* Score Board */
.scoreBoard{
    padding:.5rem;
    /* box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px; */
}
.scoreBoard th{
    color:black;
    font-size: 12px;
}
.scoreBoard td{
    color:rgb(43, 42, 42);
    font-size: 12px;
}